@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background:#fffff;
}

*{
  margin:0;
  padding:0;
}

@layer components {
  .navbar-active .hamburger div:first-child {
  @apply rotate-45 translate-y-1.5;
  }
  .navbar-active .hamburger div:last-child {
  @apply -rotate-45 -translate-y-1;
  }
  .navbar-active div:first-child div:first-child div:last-child{
      @apply block lg:flex
  }
}

.blog-content img{
display:none !important;
}